section {
  height: 250px;
  width: 400px;
  background-color: brown;
  animation-name: slider;
  animation-duration: 2s;
  animation-iteration-count: 2;
  animation-play-state: running;
}
@keyframes slider {
  20% {
    width: 300px;
  }
  40% {
    width: 600px;
  }
  80% {
    width: 100px;
  }
  100% {
    width: 400px;
  }
}
div {
  margin: 10px;
  height: 150px;
  width: 150px;
  border: 2px solid black;
  border-radius: 50%;
  background-color: red;
  animation-name: bounce;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  /* animation-delay: 1s; */
}
/* @keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  25% {
    transform: translate3d(0px, 600px, 0px);
  }
  50% {
    transform: translate3d(600px, 600px, 0px);
  }
  75% {
    transform: translate3d(600px, 0px, 0px);
  }
  100% {
    transform: translate3d(0px, 0px, 0px);
  }
} */
@keyframes bounce {
  0% {
    transform: translate3d(0, 0, 0);
  }
  10% {
    transform: translate3d(100px, 500px, 0);
  }
  20% {
    transform: translate3d(200px, 50px, 0);
  }
  30% {
    transform: translate3d(300px, 500px, 0);
  }
  40% {
    transform: translate3d(400px, 100px, 0);
  }
  50% {
    transform: translate3d(500px, 500px, 0);
  }
  60% {
    transform: translate3d(600px, 150px, 0);
  }
  70% {
    transform: translate3d(700px, 500px, 0);
  }
  80% {
    transform: translate3d(800px, 200px, 0);
  }
  90% {
    transform: translate3d(900px, 500px, 0);
  }
  100% {
    transform: translate3d(1000px, 0, 0);
  }
}
